body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u568 {
  position:absolute;
  left:19px;
  top:30px;
  width:181px;
  height:35px;
  font-size:20px;
  color:#000000;
}
#u569 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
}
#u570 {
  position:absolute;
  left:191px;
  top:152px;
  width:239px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u571 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:97px;
}
#u572 {
  position:absolute;
  left:6px;
  top:89px;
  width:124px;
  height:97px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u573 {
  position:absolute;
  left:2px;
  top:40px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u574 {
  position:absolute;
  left:40px;
  top:450px;
  width:121px;
  height:40px;
}
#u575 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u574_ann {
  position:absolute;
  left:154px;
  top:446px;
  width:1px;
  height:1px;
}
#u576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  position:absolute;
  left:241px;
  top:450px;
  width:140px;
  height:40px;
}
#u577 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u578_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:53px;
}
#u578 {
  position:absolute;
  left:267px;
  top:180px;
  width:5px;
  height:41px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u579 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u580 {
  position:absolute;
  left:30px;
  top:252px;
  width:137px;
  height:25px;
}
#u580_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u581 {
  position:absolute;
  left:30px;
  top:287px;
  width:137px;
  height:25px;
}
#u581_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u582 {
  position:absolute;
  left:30px;
  top:322px;
  width:137px;
  height:25px;
}
#u582_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u583 {
  position:absolute;
  left:30px;
  top:357px;
  width:137px;
  height:25px;
}
#u583_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u584 {
  position:absolute;
  left:212px;
  top:257px;
  width:100px;
  height:16px;
}
#u585 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u584_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u586 {
  position:absolute;
  left:212px;
  top:287px;
  width:100px;
  height:16px;
}
#u587 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u586_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u588 {
  position:absolute;
  left:212px;
  top:322px;
  width:100px;
  height:16px;
}
#u589 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u588_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u590 {
  position:absolute;
  left:212px;
  top:362px;
  width:100px;
  height:16px;
}
#u591 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u590_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
