body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:731px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:1px;
}
#u19 {
  position:absolute;
  left:492px;
  top:338px;
  width:239px;
  height:1px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u21 {
  position:absolute;
  left:19px;
  top:30px;
  width:181px;
  height:35px;
  font-size:20px;
  color:#000000;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
}
#u23 {
  position:absolute;
  left:191px;
  top:152px;
  width:239px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:20px;
  top:231px;
  width:429px;
  height:197px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
#u28 {
  position:absolute;
  left:125px;
  top:0px;
  width:299px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:295px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u30 {
  position:absolute;
  left:0px;
  top:30px;
  width:125px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
#u32 {
  position:absolute;
  left:125px;
  top:30px;
  width:299px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:295px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u34 {
  position:absolute;
  left:0px;
  top:60px;
  width:125px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
#u36 {
  position:absolute;
  left:125px;
  top:60px;
  width:299px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:295px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u38 {
  position:absolute;
  left:0px;
  top:90px;
  width:125px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
#u40 {
  position:absolute;
  left:125px;
  top:90px;
  width:299px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:295px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u42 {
  position:absolute;
  left:0px;
  top:120px;
  width:125px;
  height:36px;
}
#u43 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u44 {
  position:absolute;
  left:125px;
  top:120px;
  width:299px;
  height:36px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u46 {
  position:absolute;
  left:0px;
  top:156px;
  width:125px;
  height:36px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u48 {
  position:absolute;
  left:125px;
  top:156px;
  width:299px;
  height:36px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:97px;
}
#u50 {
  position:absolute;
  left:6px;
  top:89px;
  width:124px;
  height:97px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u51 {
  position:absolute;
  left:2px;
  top:40px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  position:absolute;
  left:40px;
  top:450px;
  width:140px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u52_ann {
  position:absolute;
  left:173px;
  top:446px;
  width:1px;
  height:1px;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  position:absolute;
  left:267px;
  top:450px;
  width:140px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:83px;
  height:25px;
}
#u56 {
  position:absolute;
  left:150px;
  top:118px;
  width:71px;
  height:5px;
}
#u57 {
  position:absolute;
  left:2px;
  top:-6px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:231px;
  top:99px;
  width:307px;
  height:43px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u59_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:53px;
}
#u59 {
  position:absolute;
  left:267px;
  top:180px;
  width:5px;
  height:41px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u61 {
  position:absolute;
  left:509px;
  top:450px;
  width:119px;
  height:40px;
  color:#FF0000;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:72px;
}
#u63 {
  position:absolute;
  left:566px;
  top:373px;
  width:5px;
  height:60px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u64 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u66 {
  position:absolute;
  left:282px;
  top:200px;
  width:300px;
  height:170px;
  font-size:18px;
}
#u67 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:372px;
  top:224px;
  width:145px;
  height:45px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:317px;
  top:302px;
  width:100px;
  height:33px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:444px;
  top:302px;
  width:98px;
  height:33px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
